:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

/*General*/

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}

/*reset start*/

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
/*reset end*/

/*Header*/

.header-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.second-color-header-logo {
  color: var(--color-navy-blue);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.header-link:hover,
.header-link:focus {
  color: var(--color-ocean);
}

.adress {
  font-style: normal;
}

.adress-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--color-slate);
}
.adress-link:hover {
  color: var(--color-ocean);
}
.adress-link:focus {
  color: var(--color-ocean);
}

/*Main*/

.name-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}

/*First section*/

.hero {
  background: var(--color-navy-blue);
  width: 1440px;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.order-service {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
}

.order-service:hover,
.order-service:focus {
  background-color: var(--color-ocean);
}

/*Second section*/

.name-section-tools {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue-modal);
}

.tools-title-items {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.tools {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*Third section*/

/*Fourth section*/

.team {
  background: var(--color-cloud);
}
.team-item {
  background-color: var(--color-white);
}
.name-team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.profession-team-memeber {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

/*Footer*/

.footer {
  background-color: var(--color-navy-blue);
  line-height: 1.17;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.second-color-footer-logo {
  color: var(--color-cloud);
}

/*Portfolio page*/

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background: var(--color-cloud);
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}

.portfolio-title-items {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.sphere {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.conteiner {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: dashed red;
}

.header-conteiner {
  display: flex;
  align-items: center;
  outline: dashed red;
}

.navigation-conteiner {
  display: flex;
  width: 263px;
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: space-between;
  margin-right: 332px;
  outline: dashed red;
}
.address-conteiner {
  display: flex;
  width: 351px;
  justify-content: space-between;
  outline: dashed red;
}
.header-logo {
  margin-right: 74px;
}

.hero-conteiner {
  justify-content: center;
}

.main-title {
  display: inline-block;
  width: 496px;
  margin-top: 260px;
  margin-left: 472px;
  margin-bottom: 48px;
  margin-right: 472px;
}
.order-service {
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 169px;
  height: 24px;
  padding: 16px 32px;
  border-radius: 5px;
}

.tools-conteiner{
  display: flex;
  jastify-content:space-between;
  
}
